*
	box-sizing: border-box 
	-webkit-tap-highlight-color: rgba(0,0,0,0)

body
    -webkit-text-size-adjust: none
    -webkit-user-select: none
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif
    font-size: 12px
    height: 100%
    margin: 0
    padding: 0
    width: 100%

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to
  opacity: 0

.loading
	position: fixed
	width: 100%
	height: 100%
	text-align: center
	line-height: 100vh
	background: #fff
	z-index: 9999
	img
		width: 25%

button
	padding: 10px 20px
	border-radius: 2px
	background: red
	color: #fff
	border: none
	outline: none

.sidebar
	position: fixed
	width: 80vw
	background: #eee
	height: 100vh
	left: -80vw
	z-index: 99
	transition: 0.2s 
	padding: 20px
	overflow-y: scroll
	.content
		font-size: 12px
	&.show
		left: 0

.globalOverlay
	position: fixed
	width: 100vw
	height: 100vh
	background: rgba(#000,0.8)
	z-index: 98