<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: ws: 'unsafe-inline' https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Hello World</title>
    </head>
    <body>
        <div id="app">

            <transition name="fade">
                <div class="loading" v-if="!loaded">
                    <img src="img/loading.gif">
                </div>
            </transition>
            
            <transition name="fade">
                <div class="globalOverlay" v-if="showOverlay" v-on:click="onClickOverlay()"></div>
            </transition>

            <div class="sidebar" v-bind:class="{ show : showSidebar }">
                <div class="content">
                    <h1>Sidebar</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit delectus nihil temporibus repellendus incidunt tempore! Dicta repellendus ab, ipsa quos possimus incidunt error voluptates nobis maxime corrupti. Impedit, quidem, a!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque libero non odit dolorem optio fuga repudiandae magni enim! Quas nam quis doloremque ipsum incidunt vel numquam, possimus tempore earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi omnis amet nam consectetur maxime earum, dolorum modi consequatur quidem laudantium! Ducimus mollitia dolor, aliquid amet dolore blanditiis, illum odit unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aperiam, at aspernatur doloribus dolore natus numquam adipisci vitae possimus optio. Eveniet vitae consequuntur, voluptatibus doloribus at provident ea sapiente nostrum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias facilis assumenda ducimus sunt totam doloremque quod necessitatibus nesciunt, libero quasi voluptates, ea, mollitia corporis iure. Temporibus sint placeat amet!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium laborum perspiciatis amet quis possimus quas autem accusamus a in, earum veniam, voluptatem qui blanditiis eaque nesciunt voluptatibus voluptatum dolor distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo voluptatibus eveniet beatae recusandae dolorem blanditiis molestias consequuntur modi at. Blanditiis, delectus soluta sequi unde beatae saepe nobis, corporis dolores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eligendi eveniet dolore blanditiis, expedita minus pariatur laboriosam, perferendis. Reprehenderit modi iste quas optio dolor dicta quia eveniet laboriosam, cumque provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam inventore consequuntur tempora dicta quae, ipsum quaerat consequatur, illo modi nam, ullam vitae similique error? Quo nostrum, nihil maxime iste. Nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum praesentium eum perspiciatis ea rem, minima modi animi repellendus facilis quo voluptates fugiat perferendis pariatur. Accusantium, aspernatur! Ipsam perspiciatis officia nobis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur libero iusto deserunt suscipit incidunt ullam blanditiis doloribus, possimus consequuntur, eaque, eveniet corporis molestias sequi? Repellat nisi magni ex quod. Doloribus!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum error quasi tempore quaerat nulla consectetur ipsa beatae, aspernatur placeat possimus hic doloribus aperiam nemo repudiandae accusantium, voluptates sequi enim aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ex culpa iste iure recusandae optio eligendi ipsam at veritatis accusantium, consequatur quis, cupiditate explicabo minus. Velit at distinctio voluptas illum!
                </div>
            </div>

            <button v-on:click="toggleSidebar()"> YAN MENÜYÜ AÇ </button>
            <br><br><br><br>
            <button onclick="window.open('http://facebook.com', '_system');">
                Facebook Aç
            </button>


            <h1><center>Hazır !</center></h1>

        </div>
        <script src="cordova.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/framework.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
